.inline h1 {
    display: inline-block;
}

.panel-info, .panel-rating, .panel-more1 {
    float: left;
    margin: 0 10px;
    color: black;
}

canvas {
    width: 100%;
    height: auto;
}

.stick {
    z-index: 100;
    background-color: #00b3ee;
}

.topbar {
    z-index: 100;
    background-color: buttonface;
    border: solid buttonface;
}