<div class="debug">
    Player id: {{player.id}}
    <br>
    Username: {{player.username}}
    <br>
    Armies: {{player.armies}}
    <br>
    Cities: {{player.cities}}
    <br>
    Notifications: {{player.notifications}}
</div>
<h1>Resource recount in:{{timer.sec}}</h1>
{{getTimer()}}
<div class="col-md-3">
    <h1>Your armies:</h1>
    <div ng-include src="'webgame-client/public_html/partials/army/list.html'"></div>
    <h1>Your cities:</h1>
    <div ng-include src="'webgame-client/public_html/partials/city/list.html'"></div>
</div>
<div ng-controller="MapCtrl" class="col-md-9">
    <button type="button" class="btn btn-primary btn-lg"  ng-click="clickedMinus()">-</button>
    <button type="button" class="btn btn-primary btn-lg"  ng-click="clickedPlus()">+</button>
    <div  style="position: relative;">
        <div><canvas id="canvas2" width="500" height="300"></canvas></div>
        <div><canvas id="canvas" width="300" height="180"></canvas></div>
    </div>
</div>