<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div ng-repeat='army in player.armies' class="panel panel-default">
    <a href ng-click="armyClicked(army.Id)">
        <div class="panel-body">
            <div class="panel-info">
                <p><strong>{{army.Army_name}}</strong></p>                      
            </div>
            <div class="panel-info">
                <p><strong>{{getTimerMessage(army.timer)}}</strong></p>                      
            </div>
        </div>
    </a>
</div>
