<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div ng-repeat='city in player.cities' class="panel panel-default">
    <a href ng-click="cityClicked(city.Object_id)">
        <div class="panel-body">
            <div class="panel-info">
                <p><strong>{{city.Name}}</strong></p>                      
            </div>
        </div>
    </a>
</div>
